*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
/* flex: dùng vào thẻ cha */
.header__container{
    height: 90px;
    /* display: flex; đưa thẻ con lên trục chính */
    display: flex;
    /* mắc định trực chính là chiều ngang: justify-content là chính
    trục phụ là chiều dọc: align-items */

    /* thay đổi trục chính => flex-direction: column; đổi trục chính là chiều dọc =>  justify-content trục chính sẽ là chiều dọc */
    justify-content: space-between;
    align-items: center;
}

.header__container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left:20px ;
    font-weight: 500;
}
.header__container a.active{
    color: #e62b4a;
}

.header__container a:hover{
color: #e62b4a;

}

.header__container .logo{
    font-size: 24px;
    font-weight: 700;
    color: white;

}
/* BANNER */

.banner{
    background-image:url(./img/home_slider.jpg);
        height: 90vh;
        min-height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
}

.banner__container{
    width: 40%;
    text-align: center;
    color: white;
}

.banner__container h2{
    font-size: 40px;
    margin: 30px 0;
    font-weight: 700px;
}
.banner__container button{
    padding: 20px;
    border: none;
    background-color: #e62b4a;
    text-transform: capitalize;
    font-size: 20px;
    color: white;
}

.banner__container button:hover{
    background-color: #af2239;
    transition: 0.3s;
    cursor: pointer;
}
.banner__container i{
    font-size: 50px;
    color: white;
    animation-name: animate__arrow1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


/* CAROUSEL  */
.carousel{
    padding: 80px;
    background-color: black;
    color: white;
}
.carousel__title{
    text-align: center;
    margin-bottom: 50px;
}

.carousel__item{
    height: 250px;
    padding: 0 10px;
}
.carousel__item i{
font-size: 50px;
}

.item_container{
background-color: white;
color: #888;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
position: relative;
}
.item_container::before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #e62b4a;
    top: -100%;
    right: 0;
    transition: 0.3s;
}
.item_container:hover::before{
    top: 0;
}
.slick-dots li.slick-active button:before{
    color: red;
}
.slick-dots li button:before{
    color: white;

}
.slick-dots li button:before {
    font-size: 15px;
    opacity: 0.75;
}

.slick-dots{
    bottom: -50px;
}



@keyframes animate__arrow1 {
    form {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

/* BLOGS */
.blogs{
padding: 80px 0;
}
.blogs__list{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.blogs__item img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
}
.item__overlay{
    display: none;
}
.blogs__item.item-1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.blogs__item.item-2 {
    /* start/ end */
    grid-column: 3/5;
    grid-row: 3/5;
    /* start/count */
    /* grid-column: 3/span2; */
}
.blogs__item{
    position: relative;
}

.item__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    display: block;
    opacity: 0;
    transition: 0.5s;
}

.blogs__item:hover .item__overlay{
    opacity: 1;
}

.overlay__title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transform: translateY(30px);
    transition: 0.5s;
}

.blogs__item:hover .overlay__title, .blogs__item:hover .overlay_search{
transform: translateY(0);
}

.overlay_search{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    transform: translateY(30px);
    transition: 0.5s;
}
.overlay_search a{
    color: black;
}

/* NUMBER */
.number{
    background-color: black;
    color: white;
    padding: 80px 0;

}

.number__container{
display: flex;
justify-content: space-evenly;
text-align: center;
}

.number__item h3{
    font-size: 70px;
    font-weight: 500;
}


/* EXPERIENCE */
.experience{
    background-image: url(./img/bussiness_img_1.jpg);
    padding: 80px 0;
    background-size: cover;
    background-attachment: fixed;
}

.experience video{
    width: 100%;
}

.experience__title{
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.experience__title h2{
    font-size: 40px;
    font-weight: 500;
} 

.experience__title h3{
    font-size: 14px;
    color: #e62b4a;
}

.experience__title p{
    color: #888;
}

/* @keyframes animate__arrow2{
    0%{
        color: orange;
        transform: scale(0.1) translateX(0px) rotate(0deg);
    }

    50%{
        color: white;
        transform: scale(2) translateX(100px) rotate(180deg);
    }

    100%{
        color: blue;
        transform: scale(1) translateX(-100px) rotate(-180deg);
    }
} */



